h3 {
	margin-right: 10px;
}

.table-component .pager {
	text-align: center;
	margin: 5px;
	padding-top: 20px;
}

.table-component .btn-group {
	padding: 5px;
}

.table-component .no-data-yet {
	padding: 30px;
	display: block;
}

.new-task .card .card-content .custom-switch {
	margin-right: 20px;
}

.new-task .card .card-content {
	margin: 20px;
}

.new-task .card .card-content textarea {
	width: 100%;
	height: 200px;
}

.gaia-tables {
}

.gaia-tables ul {
	list-style-type: none;
/* 	max-height: 200px; */
	max-height: 300px;
	display: block;
	overflow: auto;
	padding-left: 10px !important;
}

.gaia-tables .gaia-table-columns {
	max-height: 300px;
	display: block;
	overflow: auto;
}

.gaia-tables .gaia-table-columns td {
	white-space: normal !important;
}

.gaia-tables li {
	
}

.gaia-tables li:HOVER {
	color: darkgray;
	cursor: pointer;
}

.gaia-tables .selected {
	font-weight: bold;
}

.card-header .fe {
    font-weight: bold;
    font-size: large;
}

.tasks input[type="text"] {
	margin: 10px;
}