/* From: http://bootsnipp.com/snippets/featured/responsive-sidebar-menu */
    
/* .....NavBar: Icon only with coloring/layout.....*/

/*Center Brand*/
nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
}

/*Center Brand*/
nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
    height: 200px;
    text-align: center;
    width:100%;
}

nav.sidebar img{
    display:block; 
    margin:auto;
    width: 150px;
}

nav.sidebar ul{
    float: none;
}

/*adds border top to first nav box */
nav.sidebar .navbar-nav > li:first-child{
    border-top: 1px #555 solid;
}

/*adds border to bottom nav boxes*/
nav.sidebar .navbar-nav > li{
    border-bottom: 1px #555 solid;
}

/* Colors/style dropdown box*/
nav.sidebar .navbar-nav .open .dropdown-menu {
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*allows nav box to use 100% width*/
nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
    padding: 0 0px 0 0px;
}

/*colors dropdown box text */
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: #777;
}

/*gives sidebar width/height*/
nav.sidebar{
    height: 100%;
    margin-bottom: 0px;
    border: 1px #999 solid;
    background-color: #ddd;
}

/*give sidebar 100% width;*/
nav.sidebar li {
    width: 100%;
}

/* Move nav to full on mouse over*/
nav.sidebar:hover{
    margin-left: 0px;
}
/*for hiden things when navbar hidden*/
.forAnimate{
    opacity: 0;
}

nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    background-color: transparent;
}
