
{% load staticfiles %}

<div class="modal fade" id="welcomeModal" tabindex="-1" role="dialog" aria-labelledby="welcomeModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="welcomeModalLabel">Welcome to <strong>gaia@home</strong> AVI!</h4>
      </div>

      <div class="modal-body">
        <div class="media">          
          <div class="media-left media-middle">
            <a href="http://gaiaathome.eu">
              <img src="{% static "avi/images/GaiaAtHome.png" %}" 
              width="200" alt="gaia@home Logo (Adam Mickiewicz University)" style="border:0px solid black"/>
            </a>
          </div>
          
          <div class="media-body">
<!--             <h4 class="media-heading">gaia@home AVI</h4> -->
            <p>This AVI allows you :</p>
            <ul>
              <li>1. to upload your own code</li>
              <li>2. define how to split Gaia archive</li>
              <li>3. and then <strong>run massive number of jobs on BOINC platform</strong></li>
              <li>4. view the results</li>
            </ul>
            <p>View the <a href='http://gaiaathome.eu' target='_'><strong>gaia@home</strong></a> web page for details.</p>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Get Started</button>
      </div>

    </div>
  </div>
</div>


<script src="{% static 'avi/js/avi_welcome.js' %}"></script>
