{% load staticfiles %}

<link href="{% static 'avi/css/navbar.css' %}" rel="stylesheet" type="text/css">
<nav class="navbar sidebar" role="navigation">
        
    <!-- Brand and toggle get grouped for better mobile display -->
    {% block navbar_header %}
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img src="{% static 'avi/images/GaiaAtHome.png' %}" alt="Parameter Space Ltd">
                AVI Options
            </a>
        </div>
    {% endblock %}

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse" id="bs-sidebar-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="#query" id="query-tab" role="tab" data-toggle="tab" aria-controls="query">
                    Create Query
                    <span style="font-size:16px;" class="pull-right showopacity glyphicon glyphicon-send"></span>
                </a>
            </li>
            <li>
                <a href="#job" role="tab" id="job-tab" data-toggle="tab" aria-controls="job">
                    View Jobs
                    <span style="font-size:16px;" class="pull-right showopacity glyphicon glyphicon-th-list"></span>
                </a>
            </li>
            <li style="display:none;"> <!-- Makes no sense to directly view the result tab -->
                <a href="#result" role="tab" id="result-tab" data-toggle="tab" aria-controls="result" disabled>
                    Result
                    <span style="font-size:16px;" class="pull-right showopacity glyphicon glyphicon-th-list"></span>
                </a>
            </li>
            <li>
                <a href="#help" role="tab" id="help-tab" data-toggle="tab" aria-controls="help">
                    Help
                    <span style="font-size:16px;" class="pull-right showopacity glyphicon glyphicon-info-sign"></span>
                </a>
            </li>
        </ul>
    </div>

</nav>
