{% extends "base/base.html" %}

{% block avi_title %}
gaia@home
{% endblock avi_title %}

{% block avi_content %}
{% load staticfiles %}

<link href="{% static 'avi/css/avi.css' %}" rel="stylesheet" type="text/css">

<script type="text/javascript" src="{% static 'avi/js/vendors/jquery-3.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'avi/js/popper.min.js' %}"></script>

<script type="text/javascript" src="{% static 'avi/js/vendors/bootstrap.bundle.min.js' %}"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">

<script>
//       requirejs.config({
//           baseUrl: '.'
//       });
</script>

<link rel="stylesheet" type="text/css" href="{% static 'avi/css/dashboard.css' %}"/>

<script src="{% static 'avi/jqueryui/jquery-ui.js' %}" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="{% static 'avi/jqueryui/jquery-ui.css' %}"/>

<!-- pjf -->
<!-- <script src="static/pjf/pjf.js" type="text/javascript"></script> -->

<!-- dropzone -->
<!-- <script src="assets/dropzone/dropzone.min.js?ver=0.2.1" type="text/javascript"></script> -->
<!-- <link rel="stylesheet" type="text/css" href="assets/dropzone/css/basic.css?ver=0.4.5"/> -->
<!-- <link rel="stylesheet" type="text/css" href="assets/dropzone/css/dropzone.css?ver=0.4.5"/> -->

<!-- notifyjs -->
<!-- <link rel="stylesheet" type="text/css" href="./assets/overhang/overhang.min.css"/> -->
<!-- <script src="./assets/overhang/overhang.min.js" type="text/javascript"></script> -->

<link href="{% static 'avi/css/gavipgc.css' %}" rel="stylesheet" />


<script type="text/javascript" src="{% static 'datatables/datatables.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'datatables/datatables.min.css' %}"/>



<div class="page">
      <div class="page-main">
        <div class="header py-4">
          <div class="container">
            <div class="d-flex">
              <a class="header-brand" href="/">
                <img src="{% static 'avi/images/GaiaAtHome.png' %}" class="header-brand-img" alt="GAVIP-GC"> GAVIP-GridComputing
              </a>
              <div class="d-flex order-lg-2 ml-auto">
                <div class="nav-item d-none d-md-flex">
                  <a href="https://github.com/tabler/tabler" class="btn btn-sm btn-outline-primary" target="_blank">Source code</a>
                </div>
                <div class="dropdown d-none d-md-flex">
                  <a class="nav-link icon" data-toggle="dropdown">
                    <i class="fe fe-bell"></i>
                    <span class="nav-unread"></span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                    <a href="#" class="dropdown-item d-flex">
                      <span class="avatar mr-3 align-self-center" style="background-image: url(avi/images/ahypki.jpg)"></span>
                      <div>
                        <strong>Nathan</strong> pushed new commit: Fix page load performance issue.
                        <div class="small text-muted">10 minutes ago</div>
                      </div>
                    </a>
                    <a href="#" class="dropdown-item d-flex">
                      <span class="avatar mr-3 align-self-center" style="background-image: url(demo/faces/female/1.jpg)"></span>
                      <div>
                        <strong>Alice</strong> started new task: Tabler UI design.
                        <div class="small text-muted">1 hour ago</div>
                      </div>
                    </a>
                    <a href="#" class="dropdown-item d-flex">
                      <span class="avatar mr-3 align-self-center" style="background-image: url(demo/faces/female/18.jpg)"></span>
                      <div>
                        <strong>Rose</strong> deployed new version of NodeJS REST Api V3
                        <div class="small text-muted">2 hours ago</div>
                      </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item text-center text-muted-dark">Mark all as read</a>
                  </div>
                </div>
                <div class="dropdown">
                  <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
                    <span class="avatar" style="background-image: url({% static 'avi/images/ahypki.png' %})"></span>
                    <span class="ml-2 d-none d-lg-block">
                      <span class="text-default">Arkadiusz Hypki</span>
                      <small class="text-muted d-block mt-1">Administrator</small>
                    </span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                    <a class="dropdown-item" href="#">
                      <i class="dropdown-icon fe fe-user"></i> Profile
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="dropdown-icon fe fe-settings"></i> Settings
                    </a>
                    <a class="dropdown-item" href="#">
                      <span class="float-right"><span class="badge badge-primary">6</span></span>
                      <i class="dropdown-icon fe fe-mail"></i> Inbox
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="dropdown-icon fe fe-send"></i> Message
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
                      <i class="dropdown-icon fe fe-help-circle"></i> Need help?
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="dropdown-icon fe fe-log-out"></i> Sign out
                    </a>
                  </div>
                </div>
              </div>
              <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
                <span class="header-toggler-icon"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-3 ml-auto">
                <form class="input-icon my-3 my-lg-0">
                  <input type="search" class="form-control header-search" placeholder="Search&hellip;" tabindex="1">
                  <div class="input-icon-addon">
                    <i class="fe fe-search"></i>
                  </div>
                </form>
              </div>
              <div class="col-lg order-lg-first">
                <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                  <li class="nav-item">
                    <a href="/" class="nav-link btn-home active"><i class="fe fe-home"></i> Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link btn-task"><i class="fe fe-grid"></i> Task EDITING!!!!</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link btn-results"><i class="fe fe-database"></i> Results</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link btn-settings"><i class="fe fe-settings"></i> Settings</a>
                  </li>
<!--                   <li class="nav-item dropdown"> -->
<!--                     <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fe fe-calendar"></i> Components</a> -->
<!--                     <div class="dropdown-menu dropdown-menu-arrow"> -->
<!--                       <a href="./maps.html" class="dropdown-item ">Maps</a> -->
<!--                       <a href="./icons.html" class="dropdown-item ">Icons</a> -->
<!--                       <a href="./store.html" class="dropdown-item ">Store</a> -->
<!--                       <a href="./blog.html" class="dropdown-item ">Blog</a> -->
<!--                       <a href="./carousel.html" class="dropdown-item ">Carousel</a> -->
<!--                     </div> -->
<!--                   </li> -->
<!--                   <li class="nav-item dropdown"> -->
<!--                     <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fe fe-file"></i> Pages</a> -->
<!--                     <div class="dropdown-menu dropdown-menu-arrow"> -->
<!--                       <a href="./profile.html" class="dropdown-item ">Profile</a> -->
<!--                       <a href="./login.html" class="dropdown-item ">Login</a> -->
<!--                       <a href="./register.html" class="dropdown-item ">Register</a> -->
<!--                       <a href="./forgot-password.html" class="dropdown-item ">Forgot password</a> -->
<!--                       <a href="./400.html" class="dropdown-item ">400 error</a> -->
<!--                       <a href="./401.html" class="dropdown-item ">401 error</a> -->
<!--                       <a href="./403.html" class="dropdown-item ">403 error</a> -->
<!--                       <a href="./404.html" class="dropdown-item ">404 error</a> -->
<!--                       <a href="./500.html" class="dropdown-item ">500 error</a> -->
<!--                       <a href="./503.html" class="dropdown-item ">503 error</a> -->
<!--                       <a href="./email.html" class="dropdown-item ">Email</a> -->
<!--                       <a href="./empty.html" class="dropdown-item ">Empty page</a> -->
<!--                       <a href="./rtl.html" class="dropdown-item ">RTL mode</a> -->
<!--                     </div> -->
<!--                   </li> -->
<!--                   <li class="nav-item dropdown"> -->
<!--                     <a href="./form-elements.html" class="nav-link"><i class="fe fe-check-square"></i> Forms</a> -->
<!--                   </li> -->
<!--                   <li class="nav-item"> -->
<!--                     <a href="./gallery.html" class="nav-link"><i class="fe fe-image"></i> Gallery</a> -->
<!--                   </li> -->
                  <li class="nav-item">
                    <a href="/documentation" class="nav-link"><i class="fe fe-file-text"></i> Documentation</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="my-3 my-md-5">
          <div class="container">
            <div class="page-header">
              <h1 class="page-title">
                Dashboard
              </h1>
            </div>
            <div class="row row-cards">
              <div class="col-6 col-sm-4 col-lg-2">
                <div class="card">
                  <div class="card-body p-3 text-center">
                    <div class="text-right text-green">
                      6%
                      <i class="fe fe-chevron-up"></i>
                    </div>
                    <div class="h1 m-0">4373</div>
                    <div class="text-muted mb-4">Scheduled jobs</div>
                  </div>
                </div>
              </div>
              <div class="col-6 col-sm-4 col-lg-2">
                <div class="card">
                  <div class="card-body p-3 text-center">
                    <div class="text-right text-red">
                      -3%
                      <i class="fe fe-chevron-down"></i>
                    </div>
                    <div class="h1 m-0">1772</div>
                    <div class="text-muted mb-4">Finished jobs</div>
                  </div>
                </div>
              </div>
              <div class="col-6 col-sm-4 col-lg-2">
                <div class="card">
                  <div class="card-body p-3 text-center">
                    <div class="text-right text-green">
                      9%
                      <i class="fe fe-chevron-up"></i>
                    </div>
                    <div class="h1 m-0">7</div>
                    <div class="text-muted mb-4">Failed jobs</div>
                  </div>
                </div>
              </div>
              <div class="col-6 col-sm-4 col-lg-2">
                <div class="card">
                  <div class="card-body p-3 text-center">
                    <div class="text-right text-green">
                      3%
                      <i class="fe fe-chevron-up"></i>
                    </div>
                    <div class="h1 m-0">27.3K</div>
                    <div class="text-muted mb-4">Volunteers</div>
                  </div>
                </div>
              </div>
              <div class="col-6 col-sm-4 col-lg-2">
                <div class="card">
                  <div class="card-body p-3 text-center">
                    <div class="text-right text-red">
                      -2%
                      <i class="fe fe-chevron-down"></i>
                    </div>
                    <div class="h1 m-0">95k</div>
                    <div class="text-muted mb-4">CPU hours done</div>
                  </div>
                </div>
              </div>
              <div class="col-6 col-sm-4 col-lg-2">
                <div class="card">
                  <div class="card-body p-3 text-center">
                    <div class="text-right text-red">
                      -1%
                      <i class="fe fe-chevron-down"></i>
                    </div>
                    <div class="h1 m-0">6h</div>
                    <div class="text-muted mb-4">Task time</div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                  	<h3 class="card-title">Last jobs</h3> 
	                <div class="card-options">
	                  	__jobs_buttons
	                </div>
                  </div>
                  <div class="table-responsive">
                    <table id="tasks" class="table card-table table-vcenter text-nowrap">
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <div class="row">
                <div class="col-6 col-md-3">
                  <ul class="list-unstyled mb-0">
                    <li><a href="#">First link</a></li>
                    <li><a href="#">Second link</a></li>
                  </ul>
                </div>
                <div class="col-6 col-md-3">
                  <ul class="list-unstyled mb-0">
                    <li><a href="#">Third link</a></li>
                    <li><a href="#">Fourth link</a></li>
                  </ul>
                </div>
                <div class="col-6 col-md-3">
                  <ul class="list-unstyled mb-0">
                    <li><a href="#">Fifth link</a></li>
                    <li><a href="#">Sixth link</a></li>
                  </ul>
                </div>
                <div class="col-6 col-md-3">
                  <ul class="list-unstyled mb-0">
                    <li><a href="#">Other link</a></li>
                    <li><a href="#">Last link</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mt-4 mt-lg-0">
              GAVIP-GridComputing project allows you to upload your own code (C, python, Java...) and run it for Gaia data on BOINC platform!
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="row align-items-center flex-row-reverse">
            <div class="col-auto ml-lg-auto">
              <div class="row align-items-center">
                <div class="col-auto">
                  <ul class="list-inline list-inline-dots mb-0">
                    <li class="list-inline-item"><a href="/documentation">Documentation</a></li>
<!--                     <li class="list-inline-item"><a href="./faq.html">FAQ</a></li> -->
                  </ul>
                </div>
                <div class="col-auto">
                  <a href="https://github.com/tabler/tabler" class="btn btn-outline-primary btn-sm">Source code</a>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
              Copyright &copy; 2018 <a href=".">ESA</a>. Theme by <a href="https://codecalm.net" target="_blank">codecalm.net</a> All rights reserved.
            </div>
          </div>
        </div>
      </footer>
    </div>

{% endblock avi_content %}